 <h1>List of Work</h1>
<ul class="main-list">
<h2>Albums</h2>
<% @works.each do |work| %>
  <% if work.category == "album"%>
    <li> <%= link_to work.title, work_path(work) %> </li>
  <% end%>
<% end %>

<h2>Books</h2>
<% @works.each do |work| %>
  <% if work.category == "book"%>
    <li> <%= link_to work.title, work_path(work) %> </li>
  <% end%>
<% end %>

<h2>Movies</h2>
<% @works.each do |work| %>
  <% if work.category == "movie"%>
    <li> <%= link_to work.title, work_path(work) %> </li>
  <% end%>
<% end %>


</ul>